@import url(http://weloveiconfonts.com/api/?family=zocial);

body {
	display: -webkit-flex; /* Safari */
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	-ms-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	font-family: 'Georgia', serif;
	font-size: 16px;
	line-height: 1.25em;
}

img,
video,
object,
embed {
	max-width: 100%;
}

/* LAYOUT */

.social {
	text-align: right;
	margin-bottom: 10px;
}

.teaser-text {
	opacity: 0;
	height: 0px;
}

.footer {
	font-family: 'Exo 2', sans-serif;
	font-size: 0.8em;
	color: #999;
	text-align: right;
	margin: 10px;
}

.writing {
	display: inline-block;
}

/* TYPE */

a:link {
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	font-family: 'Exo 2', sans-serif;
}

h1 a,
h1 a:visited,
h1 a:hover,
h1 a:active,
h2 a,
h2 a:visited,
h2 a:hover,
h2 a:active,
h3 a,
h3 a:visited,
h3 a:hover,
h3 a:active,
h4 a,
h4 a:visited,
h4 a:hover,
h4 a:active {
	color: #666;
}

h1 {
	color: #666;
	margin-bottom: 2px;
	font-weight: 200;
}

h2,
h3 {
	font-weight: 300;
}

h4 {
	color: #6600ff;
	margin-top: 2px;
	font-weight: 300;
}

/* zocial */
[class*="zocial-"]:before {
	font-family: 'zocial', sans-serif;
	font-size: 1em;
	color: #6600ff;
}

/* video */

.video-still img {
	border-radius: 10px;
	margin-top: 10px;
}

.video-still h2,
.video-still h3 {
	color: #6600ff;
	margin-bottom: 0px;
	display: inline-block;
}

.video-still h2 {
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	text-transform: uppercase;
}

.video-still h3 {
	margin-top: -1px;
	font-size: 1em;
	line-height: 1.5em;
}

/* projects */

.projects {
	flex-wrap: wrap;
	display: flex;
}

.project-img {
	margin-bottom: 5px;
}

.project-entry h2,
.project-entry h3 {
	color: #6600ff;
	margin-bottom: 0px;
	display: inline-block;
}
.project-entry h2 a:link,
.project-entry h3 a:link {
	color: #fff;
}
.project-entry h2 {
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	text-transform: uppercase;
}
.project-entry h3 {
	margin-top: -1px;
	font-size: 1em;
	line-height: 1.5em;
}
.project-source {
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	display:inline-block;
	color: #fff;
	background-color: #6600ff;
	border-radius: 5px;
	padding: 2px;
}
@media (max-width: 991px) {
	.intro {
		margin-top: 20px;
	}

	.hello {
		font-size: 1.5em;
	}

	.social {
		text-align: center;
	}

	h1, h4 {
		text-align: center;
	}

	[class*="zocial-"]:before {
		font-size: 1.75em;
		margin-right: 10px;
	}

	[class*="zocial-"]:before:last-of-type {
		margin-right: 0px;
	}

	h4 {
		font-family: 'Dosis', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
	}
}

@media (min-width: 1000px ) {

	/* Bottom-align text and images while using Bootstrap */

	.row {
		position: relative;
	}

	.bottom-align {
		position: absolute;
		bottom: 0;
		right: 0;
	}

}

@media (min-width: 1200px) {

/* Add teaser text on large displays */

/* need to change below to display: inline or similar */

	.teaser-text {
		opacity: 1;
		font-family: 'Exo 2', sans-serif;
		font-weight: 300;
		color: #666;
		height: auto;
	}
}